{% extends 'base.html' %}

{% block conteudo %}

<h1>Perímetro e Área</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-error px-3">
    {% for category, message in messages %}
    <div class="alert {{ category }} alert-dismissible fade show px-5" role="alert">
        <strong>{{ message }}</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="calculos">

    <div class="calculos">
        <div class="card d-flex">
            <h2>Perímetro Triângulo</h2>
            <form class="form-triangulo" action="{{ url_for('triangulo_perimetro') }}" method="post">

                <label>
                    <input placeholder="Digite o lado" name="form-n1" class="form-control">
                </label>

                <p class="resultado">
                    {% if perimetro is defined %}
                    {{ n1 }} + {{ n1 }} + {{ n1 }} = {{ perimetro }}
                    {% else %}
                    {% endif %}
                </p>

                <button type="submit" class="btn btn-info">Perímetro</button>
            </form>
            <div class="accordion" id="accordion1">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                            Como calcular?
                        </button>
                    </h2>
                    <div id="collapse1" class="accordion-collapse collapse" data-bs-parent="#accordion1">
                        <div class="accordion-body">
                            <h4>Perímetro</h4>
                            <p>Para calcular o perímetro de um triângulo equilátero, temos que somar os comprimentos de
                                seus três lados.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card d-flex">
            <h2>Área Triângulo</h2>
            <form class="form-triangulo" action="{{ url_for('triangulo_area') }}" method="post">

                <label>
                    <input placeholder="Digite o lado" name="form-n1" class="form-control">
                </label>

                <p class="resultado">
                    {% if area is defined %}
                    {{ n1 }} * {{ n1 }} / 2 = {{ area }}
                    {% else %}
                    {% endif %}
                </p>

                <button type="submit" class="btn btn-info">Área</button>
            </form>

            <div class="accordion" id="accordion2">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                            Como calcular?
                        </button>
                    </h2>
                    <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#accordion2">
                        <div class="accordion-body">
                            <h4>Área</h4>
                            <p>Para calcular a área de qualquer triângulo, podemos multiplicar sua base por sua
                                altura e dividir por 2.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card d-flex">
            <h2>Perímetro Circulo</h2>
            <form class="form-circulo" action="{{ url_for('circulo_perimetro') }}" method="post">
                <label>
                    <input placeholder="Digite o raio" name="form-n1" class="form-control">
                </label>

                <p class="resultado">
                    {% if perimetro2 is defined %}
                    2 * 3,14 * {{ n1 }} = {{ perimetro2 }}
                    {% else %}
                    {% endif %}
                </p>

                <button type="submit" class="btn btn-info">Perímetro</button>
            </form>
            <div class="accordion" id="accordion3">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                            Como calcular?
                        </button>
                    </h2>
                    <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordion3">
                        <div class="accordion-body">
                            <h4>Perímetro</h4>
                            <p>O perímetro de um círculo, também conhecido como circunferência, pode ser calculado pela
                                fórmula: C = 2πr</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card d-flex">
            <h2>Área Circulo</h2>
            <form class="form-circulo" action="{{ url_for('circulo_area') }}" method="post">
                <label>
                    <input placeholder="Digite o raio" name="form-n1" class="form-control">
                </label>

                <p class="resultado">
                    {% if area2 is defined %}
                    3,14 * {{ n1 }} ** 2 = {{ area2 }}
                    {% else %}
                    {% endif %}
                </p>

                <button type="submit" class="btn btn-info">Área</button>
            </form>
            <div class="accordion" id="accordion4">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            Como calcular?
                        </button>
                    </h2>
                    <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordion4">
                        <div class="accordion-body">
                            <h4>Área</h4>
                            <p>A área de um círculo é calculada pela fórmula A = πr²</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card d-flex">
            <h2>Perímetro Quadrado</h2>
            <form class="form-quadrado" action="{{ url_for('quadrado_perimetro') }}" method="post">
                <label>
                    <input placeholder="Digite o lado" name="form-n1" class="form-control">
                </label>

                <p class="resultado">
                    {% if perimetro3 is defined %}
                    {{ n1 }} + {{ n1 }} +{{ n1 }} +{{ n1 }} = {{ perimetro3 }}
                    {% else %}
                    {% endif %}
                </p>

                <button type="submit" class="btn btn-info">Perímetro</button>
            </form>
            <div class="accordion" id="accordion5">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            Como calcular?
                        </button>
                    </h2>
                    <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordion5">
                        <div class="accordion-body">
                            <h4>Perímetro</h4>
                            <p>O perímetro de um quadrado é calculado somando o comprimento de todos os seus lados. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card d-flex">
            <h2>Área Quadrado</h2>
            <form class="form-quadrado" action="{{ url_for('quadrado_area') }}" method="post">
                <label>
                    <input placeholder="Digite o lado" name="form-n1" class="form-control">
                </label>

                <p class="resultado">
                    {% if area3 is defined %}
                    {{ n1 }} * {{ n1 }} = {{ area3 }}
                    {% else %}
                    {% endif %}
                </p>

                <button type="submit" class="btn btn-info">Área</button>
            </form>
            <div class="accordion" id="accordion6">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                            Como calcular?
                        </button>
                    </h2>
                    <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordion6">
                        <div class="accordion-body">
                            <h4>Área</h4>
                            <p>A área de um quadrado é calculada multiplicando a medida de um dos lados ao
                                quadrado. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card d-flex">
            <h2>Perímetro Hexágono</h2>
            <form class="form-hexagono" action="{{ url_for('hexagono_perimetro') }}" method="post">
                <label>
                    <input placeholder="Digite o lado" name="form-n1" class="form-control">
                </label>

                <p class="resultado">
                    {% if perimetro4 is defined %}
                    {{ n1 }} + {{ n1 }} +{{ n1 }} + {{ n1 }} + {{ n1 }} + {{ n1 }} = {{ perimetro4 }}
                    {% else %}
                    {% endif %}
                </p>

                <button type="submit" class="btn btn-info">Perímetro</button>
            </form>
            <div class="accordion" id="accordion7">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                            Como calcular?
                        </button>
                    </h2>
                    <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#accordion7">
                        <div class="accordion-body">
                            <h4>Perímetro</h4>
                            <p>Podemos calcular o perímetro de um hexágono somando os comprimentos de seus seis
                                lados. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card d-flex">
            <h2>Área Hexágono</h2>
            <form class="form-hexagono" action="{{ url_for('hexagono_area') }}" method="post">
                <label>
                    <input placeholder="Digite o lado" name="form-n1" class="form-control">
                </label>

                <p class="resultado">
                    {% if area4 is defined %}
                    (({{ n1 }}* {{ n1 }}) / 2) * 6 = {{ area4 }}
                    {% else %}
                    {% endif %}
                </p>

                <button type="submit" class="btn btn-info">Área</button>
            </form>
            <div class="accordion" id="accordion8">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                            Como calcular?
                        </button>
                    </h2>
                    <div id="collapse8" class="accordion-collapse collapse" data-bs-parent="#accordion8">
                        <div class="accordion-body">
                            <h4>Área</h4>
                            <p>Podemos calcular a área de um hexágono regular usando o comprimento de um de seus lados e
                                o comprimento de seu apótema. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}