{% extends 'base.html' %}

{% block conteudo %}

<div class="carrossel d-flex overflow-hidden">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active bg-dark" data-bs-interval="2000">
                <img src="/static/img/carousel-1.jpg" class="d-block w-100 opacity-50" alt="...">
            </div>
            <div class="carousel-item bg-dark" data-bs-interval="2000">
                <img src="/static/img/carousel-2.jpg" class="d-block w-100 opacity-50" alt="...">
            </div>
            <div class="carousel-item bg-dark" data-bs-interval="2000">
                <img src="/static/img/carousel-3.jpg" class="d-block w-100 opacity-50" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="w-100 h-100 position-absolute d-flex flex-column justify-content-evenly">
        <p class="title-senai text-white display-1 text-center">Capacitação Profissional Gastrônomica</p>
        <p class="subtitle-senai text-white display-6 text-center">Confira os nossos cursos Profissionalizantes</p>
    </div>
</div>

<div class="cursos-1">

    <div class="curso-text-1 col-8 d-flex flex-column justify-content-center text align-items-center">
        <h1>Confeitaria</h1>
        <p class="descricao">Os cursos de confeitaria oferecem uma formação técnica abrangente, preparando os alunos
            para diversas funções no setor.<br>
                Eles abrangem desde a preparação de massas e recheios até a montagem de produtos confeitários como tortas,
            bombons e pudins. <br>
                Os alunos aprendem sobre higiene e segurança alimentar, gestão de estoques e planejamento, e desenvolvem
            habilidades de criatividade e empreendedorismo.<br>
                As oportunidades de atuação incluem confeitarias, restaurantes, hotéis e até o próprio negócio do aluno.</p>
    </div>

    <div class="curso-img bg-dark col-4">
        <img src="/static/img/carousel-4.jpg" class="w-90 h-100">
    </div>

</div>

<div class="cursos-2">
    <div class="curso-img bg-dark col-4">
        <img src="/static/img/carousel-5.jpg" class="w-90 h-100">
    </div>

    <div class="curso-text-2 col-8 d-flex flex-column justify-content-center text align-items-center">
        <h1>Padaria</h1>
        <p class="descricao">Os cursos de padaria oferecem uma formação abrangente que abrange desde as técnicas básicas
            <br>
            de preparo da massa até a produção de pães artesanais, integrais, sem glúten e outras variedades.<br>
            Os alunos aprendem sobre a importância da higiene e segurança na cozinha, o controle de temperatura e tempo
            <br>
            durante o processo de assar, e muito mais. No final do curso, é possível solicitar um certificado de
            conclusão <br>
            para comprovar a qualificação profissional como padeiro. </p>
    </div>

</div>


{% endblock %}